.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  background-image: url("afternoon.jpg");
  height: 100vh;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;

  display: flex;
  flex-direction: column;
  overflow: auto;
}

.container2 {
color: white;
  background-image: url("night.jpg");
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
  overflow: auto;


}

.location p {
  font-size: 50px;
  font-style: italic;

}

.upper {
  color: white;
}

.upper2 {
  color: black;
}

.search input[type=text] {
  text-align: center;
  border-radius: 50px;
  background-color: #2A448D;
  color: white;
  height: 40px;
  width: 250px;
}

.description {
  background-image: url("./sky-clouds.gif");
  background-size: 70px;
  opacity: 0.6;
  color: rgb(211, 2, 2);
  margin: 0 auto;
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  max-width: 500px;
  
}

.description p {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: rgb(39, 20, 216) 5px 10px 5px;
}

.temperature h1 {
  font-size: 50px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 100px;
  background: rgba(172, 175, 224, 0.3);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  min-width: 500px;

  position: fixed;
  bottom: 0;
  width: stretch;
}

@media (max-width: 500px) {
  .bottom {
    margin-top: 200px;
    min-width: 300px;
  }
}

.following-days,
.following-days:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.following-days:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Weather';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.following-days:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  .following-days,
  .following-days:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
.react-icons {
  size: 10em;
}
.error-message{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.error-message img{
  
  margin: 0 auto;
  width: 50vh;
  height: 70vh;
  
  border: 1px solid #053B66;
  border-radius: 70px;
  opacity: 0.6;
  margin-bottom: 50px;
}
.error-message img:hover{
  opacity: 1;
}